## -----------------------------------------------------------------------------
## Cheetah template: EventPayloadHelpers.cpp
## Expected template context:
## - namespace_name: string (default: "event_system")
## - events_map: dict[str, str] mapping event name to payload type or ""
## - payload_types: list[str] payload type names
## -----------------------------------------------------------------------------

#set $namespace_name = $getVar('namespace_name', 'event_system')
#set $events_map = $getVar('events_map', {})
#set $payload_types = $getVar('payload_types', [])

/* 
   This code is generated, don't change it!
   All the changes here will be dropped during the build!
*/

\#include "core/EventPayloadHelpers.hpp"
\#include "core/EventTypeEnum.hpp"
\#include <type_traits>
#for $payload_type in $payload_types
#if $payload_type != 'size_t'
\#include "types/${payload_type}.hpp"
#end if
#end for

namespace $namespace_name {

void destroyEventPayload(const EventTypeEnum eventType, std::byte* storage)
{
    if (storage == nullptr)
    {
        return;
    }

    switch (eventType)
    {
#for $event_name, $payload_type in $events_map.items()
#if $payload_type
    case EventTypeEnum::e${event_name}:
    {
        if constexpr (!std::is_trivially_copyable_v<${payload_type}>)
        {
            auto* object = reinterpret_cast<${payload_type}*>(storage);
            object->~${payload_type}();
        }
        break;
    }
#end if
#end for
    default:
        break;
    }
}

} // namespace $namespace_name
