## -----------------------------------------------------------------------------
## Cheetah template: EventSenders.hpp
## Expected template context:
## - namespace_name: string (default: "event_system")
## - events_map: dict[str, str] mapping event name to payload type or ""
## - payload_types: list[str] payload type names
## - payload_decls: list[dict{name, kind, base_type?}] payload declaration metadata
## -----------------------------------------------------------------------------

#set $namespace_name = $getVar('namespace_name', 'event_system')
#set $events_map = $getVar('events_map', {})
#set $payload_types = $getVar('payload_types', [])
#set $payload_decls = $getVar('payload_decls', [])
#set $uses_size_t = $getVar('uses_size_t', False)

/* 
   This code is generated, don't change it!
   All the changes here will be dropped during the build!
*/

\#pragma once

\#include <cstdint>
#if $uses_size_t
\#include <cstddef>
#end if
\#include <chrono>

namespace $namespace_name {

enum class EventTypeEnum: uint16_t;

#for $payload_decl in $payload_decls
#if $payload_decl.get('kind') == 'enum'
enum class $payload_decl.get('name') : $payload_decl.get('base_type', 'int');
#elif $payload_decl.get('kind') == 'struct'
struct $payload_decl.get('name');
#end if
#end for

#for $event_name, $payload_type in $events_map.items()
#if $event_name != 'EventSystemReady' and $event_name != 'EventSystemShutdown'
#if $payload_type
void sendEvent(const ${payload_type}& eventPayload);
void sendEvent(${payload_type}&& eventPayload);
#else
void sendEvent${event_name}();
#end if
#end if
#end for

void sendTimedEvent(EventTypeEnum event, std::chrono::milliseconds timeout);
void stopTimedEvent(EventTypeEnum event);

}
